@{
    ViewBag.Title = "Центр писем";
    Layout = "_Layout";
}

@section Scripts {

    <script src="~/js/app/Main.js"></script>
    <script src="~/js/app/Mails.js"></script>
    <script src="~/js/app/Mail.js"></script>

    <script src="~/js/app/App.js"></script>

    <script>

        Ext.onReady(function () {
            Ext.application('MailCenter.App');
        })

    </script>
}

<body>

</body>
