<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/js/extjs/classic/theme-crisp/resources/theme-crisp-all-debug.css" rel="stylesheet" />
        <script src="~/js/extjs/ext-all-debug.js"></script>
        <script src="~/js/extjs/classic/theme-crisp/theme-crisp-debug.js"></script>
    </environment>
    <environment exclude="Development">

        <link href="~/js/extjs/classic/theme-crisp/resources/theme-crisp-all.css" rel="stylesheet" />
        <script src="~/js/extjs/ext-all.js"></script>
        <script src="~/js/extjs/classic/theme-crisp/theme-crisp.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)

</head>
<body>
    @RenderBody()    
</body>
</html>
