<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/js/extjs/classic/theme-crisp/resources/theme-crisp-all-debug.css" rel="stylesheet" />
        <script src="~/js/extjs/ext-all-debug.js"></script>
        <script src="~/js/extjs/classic/theme-crisp/theme-crisp-debug.js"></script>
    </environment>
    <environment exclude="Development">

        <link href="~/js/extjs/classic/theme-crisp/resources/theme-crisp-all.css" rel="stylesheet" />
        <script src="~/js/extjs/ext-all.js"></script>
        <script src="~/js/extjs/classic/theme-crisp/theme-crisp.js"></script>
    </environment>
    <script>
        @RenderSection("Scripts", required: false)
    </script>
    
    <script>

        Ext.onReady(function() {

            Ext.create('Ext.container.Viewport', {
                layout: 'border',
                items: [{
                    region: 'north',
                    html: '<h1 class="x-panel-header">Page Title</h1>',
                    border: false,
                    margin: '0 0 5 0'
                }, {
                    region: 'west',
                    collapsible: true,
                    title: 'Navigation',
                    width: 150
                    // could use a TreePanel or AccordionLayout for navigational items
                }, {
                    region: 'south',
                    title: 'South Panel',
                    collapsible: true,
                    html: 'Information goes here',
                    split: true,
                    height: 100,
                    minHeight: 100
                }, {
                    region: 'east',
                    title: 'East Panel',
                    collapsible: true,
                    split: true,
                    width: 150
                }, {
                    region: 'center',
                    xtype: 'tabpanel', // TabPanel itself has no title
                    activeTab: 0,      // First tab active by default
                    items: {
                        title: 'Default Tab',
                        html: 'The first tab\'s content. Others may be added dynamically'
                    }
                }]
            });

        })

    </script>
</head>
<body>
    @RenderBody()    
</body>
</html>
